
 .about-section{
/* padding:0 8rem; */
padding:1rem;
display: flex;
      justify-content: center;
      align-items:center;
border-radius: 5px;
background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(/images/About-page-moon.jpeg);
background-position:top; 
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100% 100%;
border:1px solid var(--main-color);
border-radius: 5px;
}  

    
 
/* about title */
.about-title{
    text-align: center;
  

    top-bottom: 2rem;
    color:		var(--white);
    font-size: 35px;
    font-weight: 200;
  
}
.circle {
  background: var(--main-color);
  clip-path: circle(50%);
  /* height: 2em;
  width: 2em; */
 
}
.circles{
  display: flex;
 margin-top: 2rem;
  justify-content:center;
  justify-items: baseline;
 
}
.circle-one
{
  height: 2em;
  width: 2em;
  background: var(--white);
  margin-right: 1rem;


}
.circle-three{
  height: 3em;
  width: 3em;
  background: var(--main-color);
  margin-right: 1rem;
 

}

.circle-two{
  height:4em;
  width:4em;
  background: var(--logo-hart);



}


/* paragraf text about page */
 .text{

max-width: 900px;
margin-top: 3rem;
padding: 2rem;


}

.text p {
  color:		var(--white);
font-weight: 300;

}




   
     
 

