
.main-box{
width: 1200px;


}


.wrapper {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;





 
}

.button-wrapper {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-size: 30px;

 
}



.carousel {
  margin-top: 5rem;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 500px;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;

 

}
/* a {position:relative; z-index:2;} */

.card {
  /* background: black; */
  /* border:8px solid red; */
width: 355px;
  height: 400px;
  margin-right: 1rem;
  display: inline-block;


  
}

.carousel-img{
  height: 330px;
  width:280px;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.card-title{
font-size: 16px;
margin-bottom: 2rem;
}

.material-redo, .material-undo  {
 font-size: 30px;
 height: 30px;
 width:30px;
 background-color:var(--white) ;
 color: var(--dark);


 


}

/* .main-box{
  height: 1400px;
  
  } */


  .button-271{
    appearance: none;
    background-color: var(--dark) ;
    border: 2px solid #fff;
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: block;

    /* margin-top: 1rem; */
    min-height: 40px;
    min-width: 130px;
    outline: none;
    /* padding: 16px 24px; */
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    will-change: transform;

  }




 

