
/* index page main */

.main{
    min-height: calc(100vh - 100px - 58px );
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* The first box for image and text scroll menu */
.main-box{
    margin-top: 1rem;
    min-height:30rem;
    padding:1.5rem;
}

